<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-02.jpg);">
	<h2 class="tit6 t-center">
		Reserva de Mesa
	</h2>
</section>

<!-- Reservation -->
<section class="section-reservation bg1-pattern p-t-100 p-b-113">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 p-b-30">
				<div class="t-center">
					<span class="tit2 t-center">
						Reservar
					</span>

					<h3 class="tit3 t-center m-b-35 m-t-2">
						Garanta sua Mesa
					</h3>
				</div>
				<div id="form-messages" role="alert"></div>
				<% url_base = ApplicationHelper.url_base('bookings') %>
				<form class="wrap-form-reservation size22 m-l-r-auto" id="form-booking" action="<%= url_base %>">
					<% text_field_tag 'api_v1_buffalo_booking[title]','buffalo' %>
					<% text_field_tag 'api_v1_buffalo_booking[subtitle]','contato' %>
					<div class="row">
						<div class="col-md-4">
							<!-- Date -->
							<span class="txt9">
								Data
							</span>

							<div class="wrap-inputdate pos-relative txt10 size12 bo2 bo-rad-10 m-t-3 m-b-23">
								<input class="my-calendar bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_booking[date]" id="my-calendar">
								<i class="btn-calendar fa fa-calendar ab-r-m hov-pointer m-r-18" aria-hidden="true"></i>
							</div>
						</div>

						<div class="col-md-4">
							<!-- Time -->
							<span class="txt9">
								Hora
							</span>

							<div class="wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-23">
								<!-- Select2 -->
								<select class="selection-1" name="api_v1_buffalo_booking[enum_hour]">
      								<option>10:30</option>
									<option>11:00</option>
									<option>11:30</option>
									<option>12:00</option>
									<option>12:30</option>
									<option>13:00</option>
									<option>13:30</option>
									<option>14:00</option>
									<option>14:30</option>
									<option>15:00</option>
									<option>15:30</option>
									<option>16:00</option>
									<option>16:30</option>
									<option>17:00</option>
									<option>17:30</option>
									<option>18:00</option>
									<option>18:30</option>
									<option>19:00</option>
									<option>19:30</option>
									<option>20:00</option>
									<option>20:30</option>
									<option>21:00</option>
								</select>
							</div>
						</div>

						<div class="col-md-4">
							<!-- People -->
							<span class="txt9">
								Pessoas
							</span>

							<div class="wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
								<!-- Select2 -->
								<select class="selection-1" name="api_v1_buffalo_booking[enum_people]">
									<option>1 pessoa</option>
								<option>2 pessoas</option>
								<option>3 pessoas</option>
								<option>4 pessoas</option>
								<option>5 pessoas</option>
								<option>6 pessoas</option>
								<option>7 pessoas</option>
								<option>8 pessoas</option>
								<option>9 pessoas</option>
								<option>10 pessoas</option>
								<option>11 pessoas</option>
								<option>12 pesooas</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<!-- Name -->
							<span class="txt9">
								Nome
							</span>

							<div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
								<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_booking[name]" placeholder="Nome Completo">
							</div>
						</div>

						<div class="col-md-4">
							<!-- Phone -->
							<span class="txt9">
								Celular
							</span>

							<div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
								<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_booking[phone]" placeholder="Telefone">
							</div>
						</div>

						<div class="col-md-4">
							<!-- Email -->
							<span class="txt9">
								Email
							</span>

							<div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
								<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_booking[email]" placeholder="E-mail">
							</div>
						</div>

					</div>

					<div class="wrap-btn-booking flex-c-m m-t-6">
						<!-- Button3 -->
						<button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
							Reservar Mesa
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="info-reservation flex-w p-t-80">
			<div class="size23 w-full-md p-t-40 p-r-30 p-r-0-md">
				<h4 class="txt5 m-b-18">
					Reservar Por Telefone
				</h4>

				<p class="size25">
					Faça sua reserva pelo telefone ligando pra um de nossos números;
					<span class="txt24">(66) 3437-1912, (66) 98144-0890, (66) 98116-8903</span>
				</p>
			</div>

			<div class="size24 w-full-md p-t-40">
				<h4 class="txt5 m-b-18">
					Faça seu Evento Em Nosso Espaço
				</h4>

				<p class="size26">
					Fornecemos nosso espaço para você fazer o seu evento.
					<span class="txt24">venha comemorar o seu aniversario com a gente</span>
				</p>
			</div>

		</div>
	</div>
</section>


<script>
$( document ).ready(function() {
	$(function() {
    var form = $('#form-booking');
    var formMessages = $('#form-messages');
    $(form).submit(function(event) {
    	var formData = $(form).serialize();
       	event.preventDefault();
    	$.ajax({
    		async: true,
    		type: 'POST',
    		url: $(form).attr('action'),
    		data: formData
		})
		.done(function(response) {
    		$(formMessages).removeClass('alert alert-danger');
    		$(formMessages).addClass('alert alert-success');
			$(formMessages).text("Reserva efetuada com sucesso! Aguardamos por você.");
    		$('#name').val('');
    		$('#email').val('');
    		$('#message').val('');
		})
		.fail(function(data) {
    		$(formMessages).removeClass('alert alert-success');
    		$(formMessages).addClass('alert alert-danger');
       		$(formMessages).text('Oops! Alguma deu errado e a reserva não pode ser efetuada.');
		})
	});
});
});
</script>