<div id="form-messages" role="alert"></div>
<% url_base = ApplicationHelper.url_base('contacts') %>
<form class="wrap-form-reservation size22 m-l-r-auto" id="form-contact" action="<%= url_base %>">
	<div class="row">
		<div class="col-md-4">
			<span class="txt9">
				Nome
			</span>
			<div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
				<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_contact[name]" placeholder="Nome completo">
			</div>
		</div>

		<div class="col-md-4">
			<span class="txt9">
				Email
			</span>
			<div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
				<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_contact[email]" placeholder="E-mail">
			</div>
		</div>

		<div class="col-md-4">
			<span class="txt9">
				Celular
			</span>
			<div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
				<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_contact[phone]" placeholder="Telefone">
			</div>
		</div>

		<div class="col-12">
			<span class="txt9">
				Mensagem
			</span>
			<textarea class="bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3" name="api_v1_buffalo_contact[message]" placeholder="Menssagem"></textarea>
		</div>
	</div>

	<div class="wrap-btn-booking flex-c-m m-t-13">
		<button type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
			Enviar
		</button>

	</div>
</form>

<script>
$( document ).ready(function() {
	$(function() {
    var form = $('#form-contact');
    var formMessages = $('#form-messages');
    $(form).submit(function(event) {
    	var formData = $(form).serialize();
       	event.preventDefault();
    	$.ajax({
    		async: true,
    		type: 'POST',
    		url: $(form).attr('action'),
    		data: formData
		})
		.done(function(response) {
    		$(formMessages).removeClass('alert alert-danger');
    		$(formMessages).addClass('alert alert-success');
			$(formMessages).text("Seu contato foi enviado! Retornaremos em breve.");
    		$('#nome').val('');
    		$('#email').val('');
    		$('#telefone').val('');
    		$('#menssagem').val('');
		})
		.fail(function(data) {
    		$(formMessages).removeClass('alert alert-success');
    		$(formMessages).addClass('alert alert-danger');
       		$(formMessages).text('Oops! Alguma deu errado e o contato não pode ser efetuada.');
		})
	});
});
});
</script>