<div class="dis-flex m-l-23">
	<div class="p-r-40 p-t-6">
		<img src="/images/icons/clock-icon.png" alt="IMG-ICON">
	</div>
	<div class="flex-col-l">
		<span class="txt5 p-b-10">
			Funcionamento
		</span>

		<span class="txt23 size38">
			Terça a Domingo <br/>
			Das 10:00 as 14:00 h.<br/>
			Das 18:00 as 00:00 h.<br/>
			Segunda-feira<br/>
			Apenas das 10:00 até as 14:00 h.
		</span>
	</div>
</div>
