<div class="dis-flex m-l-23">
	<div class="p-r-40 p-t-6">
		<img src="/images/icons/map-icon.png" alt="IMG-ICON">
	</div>
	<div class="flex-col-l">
		<span class="txt5 p-b-10">
			Localização
		</span>

		<span class="txt23 size38">
			Rua: Vicente José de Oliveira, nº: 1040 - Centro, Campinápolis-MT.
		</span>
	</div>
</div>
