<!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=-14.538715, -52.795852 -->
<!-- &zoom=11&size=250x250"> -->
<!-- Endereço que peguei o códido para inserir o mapa https://www.homehost.com.br/blog/criar-sites/inserir-google-maps-no-site/
-->
<!-- =============================== Código antigo do mapa
	<div class="contact-map size37" id="google_map" data-map-x="40.704644" data-map-y="-74.011987" data-pin="/images/icons/icon-position-map.png" data-scrollwhell="0" data-draggable="1"></div> 
	=================================-->
<!-- </div> -->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5306.303242934736!2d-52.79348086936819!3d-14.538165904411024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93720349c4a9bb3d%3A0xd0514bda355a4f0b!2sBuffalo&#39;s+Grill!5e0!3m2!1spt-BR!2sbr!4v1557064525047!5m2!1spt-BR!2sbr" width="1100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>