<div class="dis-flex m-l-23">
	<div class="p-r-40 p-t-6">
		<img src="/images/icons/phone-icon.png" alt="IMG-ICON">
	</div>


	<div class="flex-col-l">
		<span class="txt5 p-b-10">
			Ligue para Nós
		</span>

		<span class="txt23 size38">
			(66) 3437-1912, 9 8144-0890, 98116-8903
		</span>
	</div>
</div>