<!-- Title Page -->
<%= render partial: "contato/title" %>
<!-- Contact form -->
<section class="section-contact bg1-pattern p-t-90 p-b-113">
	<div class="container">
		<!-- Map -->
		<div class="map bo8 bo-rad-10 of-hidden">
			<%= render partial: "contato/map" %>
		</div>

		<div class="container">
			<h3 class="tit7 t-center p-b-62 p-t-105">
				Envie-nos uma Mensagem
			</h3>
			<%= render partial: "contato/form" %>
			<div class="row p-t-135">
				<div class="col-sm-8 col-md-4 col-lg-4 m-l-r-auto p-t-30">
					<%= render partial: "contato/localizacao" %>
				</div>

				<div class="col-sm-8 col-md-3 col-lg-4 m-l-r-auto p-t-30">
					<%= render partial: "contato/telefone" %>
				</div>

				<div class="col-sm-8 col-md-5 col-lg-4 m-l-r-auto p-t-30">
					<%= render partial: "contato/funcionamento" %>
				</div>
			</div>
		</div>
	</div>
</section>
