<div class="item-slick2 item1-slick2" style="background-image: url(images/bg-event-01.jpg);">
	<div class="wrap-content-slide2 p-t-115 p-b-208">
		<div class="container">
			<div class="title-event t-center m-b-52">
				<span class="tit2 p-l-15 p-r-15">
					Em Breve
				</span>
				<h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
					Eventos
				</h3>
			</div>
			<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
				<a href="#" class="wrap-pic-blo2 bg1-blo2" style="background-image: url(\${img}\);">
					<div class="time-event size10 txt6 effect1">
						<span class="txt-effect1 flex-c-m t-center">
							\${date}\
						</span>
					</div>
				</a>
				<!-- Text block2 -->
				<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
					<h4 class="tit7 t-center m-b-10">
						\${title}\
					</h4>
					<p class="t-center">
						\${subtitle}\
					</p>
					<div class="flex-sa-m flex-w w-full m-t-40">
						<div class="size11 flex-col-c-m">
							<span class="dis-block t-center txt7 m-b-2 days" id="event_dia">
								\${dia}\
							</span>
							<span class="dis-block t-center txt8">
								Dias
							</span>
						</div>
						<div class="size11 flex-col-c-m">
							<span class="dis-block t-center txt7 m-b-2 hours">
								\${hora}\
							</span>
							<span class="dis-block t-center txt8">
								Horas
							</span>
						</div>
						<div class="size11 flex-col-c-m">
							<span class="dis-block t-center txt7 m-b-2 minutes">
								\${minuto}\
							</span>
							<span class="dis-block t-center txt8">
								Minutos
							</span>
						</div>
			<div class="size11 flex-col-c-m">
							<span class="dis-block t-center txt7 m-b-2 seconds">
								\${segundo}\
							</span>
							<span class="dis-block t-center txt8">
								Segundos
							</span>
						</div>
					<!-- <a href="#" class="txt4 m-t-40">
						Mais detalhes...
					<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
				</a> -->
			</div>
		</div>
	</div>
</div>
</div>
</div>