<div class="col-12">
	<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
		<img src="\${img}\" alt="IMG-MENU">
		<a href="/menu/index" class="btn2 flex-c-m txt5 ab-c-m size9">\${title}\</a>
	</div>
</div>