<div class="item-slick3 item\${cont}\-slick3">
	<div class="wrap-content-slide3 p-b-50 p-t-50">
		<div class="container">
			<div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
				<img src="\${img}\" alt="IGM-AVATAR">
			</div>
			<div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
				<p class="t-center txt12 size15 m-l-r-auto">
					\${text}\
				</p>
				<!-- <div class="star-review fs-18 color0 flex-c-m m-t-12">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star p-l-1" aria-hidden="true"></i>
					<i class="fa fa-star p-l-1" aria-hidden="true"></i>
					<i class="fa fa-star p-l-1" aria-hidden="true"></i>
					<i class="fa fa-star p-l-1" aria-hidden="true"></i>
				</div> -->
				<div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
					\${name}\
				</div>
			</div>
		</div>
	</div>
</div>