<div class="item-slick1 item\${cont}\-slick1" style="background-image: url(\${img}\);">
  <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
    <span style="background-color:rgba(0, 0, 0, 0.5)" class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rotateIn">
      \${title}\
    </span>
    <h3 style="background-color:rgba(0, 0, 0, 0.5);font-size:50px;" class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
      \${subtitle}\
    </h3>
    <div class="wrap-btn-slide1 animated visible-false" data-appear="rotateIn">
      <!-- Button1 -->
      <a href="/menu/index" class="btn1 flex-c-m size1 txt3 trans-0-4">
        Visite o Cardápio
      </a>
    </div>
  </div>
</div>
