<div class="blo3 flex-w flex-col-l-sm m-b-30">
		<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
			<a href="#"><img src="/images/lunch-01.jpg" alt="IMG-MENU"></a>
		</div>

		<div class="text-blo3 size21 flex-col-l-m" name="almoco">
			<a href="#" class="txt21 m-b-3">
				À vontade
			</a>

			<span class="txt23">
				Servir à vontadede de tudo que estiver na menu até se satisfazer.
			</span>

			<span class="txt22 m-t-20">
				R$24.99
			</span>
		</div>

	</div>

	<!-- Block3 -->
	<div class="blo3 flex-w flex-col-l-sm m-b-30">
		<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
			<a href="#"><img src="/images/lunch-03.jpg" alt="IMG-MENU"></a>
		</div>

		<div class="text-blo3 size21 flex-col-l-m">
			<a href="#" class="txt21 m-b-3">
				Por quilo
			</a>

			<span class="txt23">
				Para quem aprecia boa comida.
			</span>

			<span class="txt22 m-t-20">
				$34.99
			</span>
		</div>
	</div>

	<!-- Block3 -->
	<div class="blo3 flex-w flex-col-l-sm m-b-30">
		<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
			<a href="#"><img src="/images/lunch-05.jpg" alt="IMG-MENU"></a>
		</div>

		<div class="text-blo3 size21 flex-col-l-m">
			<a href="#" class="txt21 m-b-3">
				Prato feito econômico
			</a>

			<span class="txt23">
				Proto com variedades feito por um de nossos chefes.
			</span>

			<span class="txt22 m-t-20">
				$10.00
			</span>
		</div>
	</div>
</div>

<div class="col-md-8 col-lg-6 m-l-r-auto">
	<!-- Block3 -->
	<div class="blo3 flex-w flex-col-l-sm m-b-30">
		<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
			<a href="#"><img src="/images/lunch-02.jpg" alt="IMG-MENU"></a>
		</div>

		<div class="text-blo3 size21 flex-col-l-m">
			<a href="#" class="txt21 m-b-3">
				Prato feito médio
			</a>

			<span class="txt23">
				Prato com 2 pedaços de carne, feito por um dos nossos chefes
			</span>

			<span class="txt22 m-t-20">
				R$13.00
			</span>
		</div>
	</div>

	<!-- Block3 -->
	<div class="blo3 flex-w flex-col-l-sm m-b-30">
		<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
			<a href="#"><img src="/images/lunch-04.jpg" alt="IMG-MENU"></a>
		</div>

		<div class="text-blo3 size21 flex-col-l-m">
			<a href="#" class="txt21 m-b-3">
				Pato feito grande
			</a>

			<span class="txt23">
				Prato grande feito por nossos chefes.
			</span>

			<span class="txt22 m-t-20">
				$15.00
			</span>
		</div>
	</div>

	<!-- Block3 -->
	<div class="blo3 flex-w flex-col-l-sm m-b-30">
		<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
			<a href="#"><img src="/images/lunch-06.jpg" alt="IMG-MENU"></a>
		</div>

		<div class="text-blo3 size21 flex-col-l-m">
			<a href="#" class="txt21 m-b-3">
				Marmitex
			</a>

			<span class="txt23">
				Marmitex tipo 8
			</span>

			<span class="txt22 m-t-20">
				$10.00
			</span>
		</div>
	</div>