<% url_base_1 = ApplicationHelper.url_base('menu_product_categories') %>
<% url_base_2 = ApplicationHelper.url_base('menu_products') %>
<div class="template_lunch">
</div>

<script type="text/javascript">
var produtos = [];
jQuery.ajax({
  async: false,
  url: '<%= url_base_2 %>',
  success: function (result) {
    if (result["status"] == 'SUCCESS') {
      produtos = result.data;
    }
    var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
    for (var i = 0; i < produtos.length; i++){
      var img = cl.url(produtos[i].img,{width: 900, quality: "auto",fetchFormat: "auto", crop: "fill"});
      produtos[i].img = img;
    }
  }
});

jQuery.ajax({
  async: false,
  url: '<%= url_base_1 %>',
  success: function (result) {
    if (result["status"] == 'SUCCESS') {
      var markup = `<%= render partial:"menu/template/lunch" %>`;
      var markup2 = `<%= render partial:"menu/template/item_lunch" %>`;
      $.template( "template", markup);
      $.template( "template2", markup2);
      for (var i = 0; i < result.data.length; i++){
        var arr_produtos = [];
        for (var j = 0; j < produtos.length; j++){
          if (produtos[j].api_v1_buffalo_menu_product_category_id == result.data[i].id){
              arr_produtos.push(produtos[j]);
          }
        }
        result.data[i]["produtos"] = arr_produtos;
      }
      var produtos_com_imagem = [];
      for(var i = 0; i < result.data.length; i++){
        if (result.data[i].enum_show_image == "aparecer na area com imagens"){
          produtos_com_imagem.push(result.data[i]); 
        }      
      }
      for (var i = 0; i < produtos_com_imagem.length; i++){
        mid = Math.ceil(produtos_com_imagem[i]["produtos"].length/2);
        obj = {
          left: produtos_com_imagem[i]["produtos"].slice(0, mid),
          right: produtos_com_imagem[i]["produtos"].slice(mid)
        };
        produtos_com_imagem[i]["produtos_esquerda"] = obj["left"];
        produtos_com_imagem[i]["produtos_direita"] = obj["right"];
      }
      $.tmpl("template",produtos_com_imagem).appendTo('.template_lunch');
    }
  }
});
</script>