<% url_base_1 = ApplicationHelper.url_base('menu_product_categories') %>
<% url_base_2 = ApplicationHelper.url_base('menu_products') %>
<div class="container">
	<div class="row" id="buffalo_main_menu"></div>
</div>

<script type="text/javascript">
var produtos = [];
jQuery.ajax({
  async: false,
  url: '<%= url_base_2 %>',
  success: function (result) {
    if (result["status"] == 'SUCCESS') {
      produtos = result.data;
    }
  }
});

jQuery.ajax({
  async: false,
  url: '<%= url_base_1 %>',
  success: function (result) {
    if (result["status"] == 'SUCCESS') {
      var markup = `<%= render partial:"menu/template/main_menu" %>`;
      var markup2 = `<%= render partial:"menu/template/item_main_menu" %>`;
      $.template( "template", markup);
      $.template( "template2", markup2);
      var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
      for (var i = 0; i < result.data.length; i++){
        var arr_produtos = [];
        for (var j = 0; j < produtos.length; j++){
          if (produtos[j].api_v1_buffalo_menu_product_category_id == result.data[i].id){
              arr_produtos.push(produtos[j]);
          }
        }
        result.data[i]["produtos"] = arr_produtos;
      }
      var produtos_sem_imagem = [];
      for(var i = 0; i < result.data.length; i++){
        if (result.data[i].enum_show_image == "aparecer na area sem imagens"){
          produtos_sem_imagem.push(result.data[i]); 
        }      
      }
      $.tmpl("template",produtos_sem_imagem).appendTo('#buffalo_main_menu');
    }
  }
});
</script>
