<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/slide1-01_2.jpg);">
	<h2 class="tit6 t-center">
		Buffalo's Grill - Cardápio
	</h2>
</section>

<!-- Main menu -->
<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
	<%= render partial: "menu/main_menu" %>
</section>


<!-- Lunch -->
<section class="section-lunch bgwhite">
	<%= render partial: "menu/lunch" %>
</section>


	<!-- Dinner -->
	<!-- <section class="section-dinner bgwhite"> -->
		<%#= render partial: "menu/dinner" %>
	<!-- </section> -->


	<!-- Sign up -->
<!-- 	<div class="section-signup bg1-pattern p-t-85 p-b-85">
	<form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
		<span class="txt5 m-10">
			Specials Sign up
		</span>

		<div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
			<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email-address" placeholder="Email Adrress">
			<i class="fa fa-envelope ab-r-m m-r-18" aria-hidden="true"></i>
		</div>
	-->
	<!-- Button3 -->
<!-- 			<button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
			Sign-up
		</button>
	</form>
</div>
-->

