<a class="item-gallery-footer wrap-pic-w" href="" data-lightbox="gallery-footer">
	<img data-src="\${img}\" class="cld-responsive" alt="GALLERY">
</a>

<a class="item-gallery-footer wrap-pic-w" href="" data-lightbox="gallery-footer">
	<img data-src="\${img}\" class="cld-responsive" alt="GALLERY">
</a>

<a class="item-gallery-footer wrap-pic-w" href="" data-lightbox="gallery-footer">
	<img data-src="\${img}\" class="cld-responsive" alt="GALLERY">
</a>