<div class="container">
	<div class="row">
		<div class="col-lg-6 p-b-30">
			<div class="t-center">
				<span class="tit2 t-center">
					Reserva de Mesa
				</span>
	 			<h3 class="tit3 t-center m-b-35 m-t-2">
					Preencher
				</h3>
			</div>
			<div id="form-messages" role="alert"></div>
			<% url_base = ApplicationHelper.url_base('bookings') %>
			<form class="wrap-form-booking" id="form-booking" action="<%= url_base %>">
				<% text_field_tag 'api_v1_buffalo_booking[title]','buffalo' %>
				<% text_field_tag 'api_v1_buffalo_booking[subtitle]','contato' %>
				<div class="row">
					<div class="col-md-6">
						<!-- Date -->
						<span class="txt9">
							Data
						</span>
						<div class="wrap-inputdate pos-relative txt10 size12 bo2 bo-rad-10 m-t-3 m-b-23">
							<input class="my-calendar bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_booking[date]" id="my-calendar">
							<i class="btn-calendar fa fa-calendar ab-r-m hov-pointer m-r-18" aria-hidden="true"></i>
						</div>
						<!-- Time -->
						<span class="txt9">
							Horas
						</span>
						<div class="wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-23">
							<!-- Select2 -->
							<select class="selection-1" name="api_v1_buffalo_booking[enum_hour]">
								<option>10:30</option>
								<option>11:00</option>
								<option>11:30</option>
								<option>12:00</option>
								<option>12:30</option>
								<option>13:00</option>
								<option>13:30</option>
								<option>14:00</option>
								<option>14:30</option>
								<option>15:00</option>
								<option>15:30</option>
								<option>16:00</option>
								<option>16:30</option>
								<option>17:00</option>
								<option>17:30</option>
								<option>18:00</option>
								<option>18:30</option>
								<option>19:00</option>
								<option>19:30</option>
								<option>20:00</option>
								<option>20:30</option>
								<option>21:00</option>
							</select>
						</div>
						<!-- People -->
						<span class="txt9">
							Pessoas
						</span>
						<div class="wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
							<!-- Select2 -->
							<select class="selection-1" name="api_v1_buffalo_booking[enum_people]">
								<option>1 pessoa</option>
								<option>2 pessoas</option>
								<option>3 pessoas</option>
								<option>4 pessoas</option>
								<option>5 pessoas</option>
								<option>6 pessoas</option>
								<option>7 pessoas</option>
								<option>8 pessoas</option>
								<option>9 pessoas</option>
								<option>10 pessoas</option>
								<option>11 pessoas</option>
								<option>12 pesooas</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<!-- Name -->
						<span class="txt9">
							Nome:
						</span>
						<div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
							<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_booking[name]" placeholder="Nome Completo">
						</div>
						<!-- Phone -->
						<span class="txt9">
							Celular
						</span>
						<div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
							<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_booking[phone]" placeholder="Telefone">
						</div>
						<!-- Email -->
						<span class="txt9">
							Email
						</span>
						<div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
							<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="api_v1_buffalo_booking[email]" placeholder="E-mail">
						</div>
					</div>
				</div>
				<div class="wrap-btn-booking flex-c-m m-t-6">
					<!-- Button3 -->
					<button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
						Reservar Mesa
					</button>
				</div>
			</form>
		</div>
		<div class="col-lg-6 p-b-30 p-t-18">
			<div class="wrap-pic-booking size2 bo-rad-10 hov-img-zoom m-l-r-auto">
				<img src="/images/mesas.jpg" alt="IMG-OUR">
			</div>
		</div>
	</div>
</div>

<script>
$( document ).ready(function() {
	$(function() {
    var form = $('#form-booking');
    var formMessages = $('#form-messages');
    $(form).submit(function(event) {
    	var formData = $(form).serialize();
       	event.preventDefault();
    	$.ajax({
    		async: true,
    		type: 'POST',
    		url: $(form).attr('action'),
    		data: formData
		})
		.done(function(response) {
    		$(formMessages).removeClass('alert alert-danger');
    		$(formMessages).addClass('alert alert-success');
			$(formMessages).text("Reserva efetuada com sucesso! Aguardamos por você.");
    		$('#name').val('');
    		$('#email').val('');
    		$('#message').val('');
		})
		.fail(function(data) {
    		$(formMessages).removeClass('alert alert-success');
    		$(formMessages).addClass('alert alert-danger');
       		$(formMessages).text('Oops! Alguma deu errado e a reserva não pode ser efetuada.');
		})
	});
});
});
</script>
