<% url_base = ApplicationHelper.url_base('events') %>
<div class="wrap-slick2">
	<div class="slick2"></div>
	<div class="wrap-slick2-dots"></div>
</div>

<script type="text/javascript">
jQuery.ajax({
  async: false,
  url: '<%= url_base %>',
  success: function (result) {
    if (result["status"] == 'SUCCESS') {
      var markup = `<%= render partial:"home/template/event" %>`;
      $.template( "template", markup);
      var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
      for (var i = 0; i < result.data.length; i++){
        var img = cl.url(result.data[i].img,{quality: "auto",fetchFormat: "auto", crop: "fit"});
        result.data[i].img = img;
        result.data[i]["cont"] = i+1;
        var d = Date.parse(result.data[i].date);
        var date2 = new Date(d);
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour:'numeric',minute:'numeric',second:'numeric'};
        options.timeZone = 'UTC';
		    options.timeZoneName = 'short';
        result.data[i]["date"] = date2.toLocaleDateString('pt-BR',options).split(' ', 7).join(' ');
        result.data[i]["dia"] = date2.getDay();
        result.data[i]["hora"] = date2.getHours();
        result.data[i]["minuto"] = date2.getMinutes();
        result.data[i]["segundo"] = date2.getSeconds();
      }
      $.tmpl("template",result.data).appendTo('.slick2');
    }
  }
});
</script>