<div class="header-intro parallax100 t-center p-t-135 p-b-158" id="si_img" style="background-image: url(images/bg-intro-01_1.jpg);">
	<span class="tit2 p-l-15 p-r-15" id="si_title">
		Descobrindo
	</span>

	<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3" id="si_subtitle">
		Buffalo's Grilll
	</h3>
</div>

<script>
	<% url_base = ApplicationHelper.url_base('section_intros') %>
	jQuery.ajax({
		async: true,
		url: '<%= url_base %>',
		success: function (result) {
			if (result.isOk == false) {
				alert(result.message);
			}else{
				var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
				if (result.data.length > 0){
					var img_url_1 = cl.url(result.data[0].img,{width: 720,height:428, quality: "auto",fetchFormat: "auto", crop: "scale"});
					$("#si_img").css('background-image', 'url(' + img_url_1 + ')');
					$("#si_title").text(result.data[0].title);
					$("#si_subtitle").text(result.data[0].subtitle);
				}
			}
		}
	});
</script>

<div class="content-intro bg-white p-t-77 p-b-133">
	<div class="container">
		<div class="row">
			<div class="col-md-4 p-t-30">
				<!-- Block1 -->
				<div class="blo1">
					<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
						<img src="images/intro-01_1.jpg" alt="IMG-INTRO" id="ci_1_img">
					</div>

					<div class="wrap-text-blo1 p-t-35">
						<h4 class="txt5 color0-hov trans-0-4 m-b-13" id="ci_1_title">
							Espaço Elegante e Moderno
						</h4>

						<p class="m-b-20" id="ci_1_description">
							Bar e Restaurante com amplo espaço, para você e sua família ficarem satisfeitos.
						</p>

						<a href="#" class="txt4">
							Ver mais...
							<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 p-t-30">
				<!-- Block1 -->
				<div class="blo1">
					<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
						<a href="#"><img src="images/intro-02.jpg" alt="IMG-INTRO" id="ci_2_img"></a>
					</div>

					<div class="wrap-text-blo1 p-t-35">
						<a href="#"><h4 class="txt5 color0-hov trans-0-4 m-b-13" id="ci_2_title">
							Comidas Saborosas
						</h4></a>

						<p class="m-b-20" id="ci_2_description">
							Nossos chefes preparam uma saborosa comida com carinho.
						</p>

						<a href="#" class="txt4">
							Ver mais...
							<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 p-t-30">
				<!-- Block1 -->
				<div class="blo1">
					<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
						<img src="images/intro-04.jpg" alt="IMG-INTRO" id="ci_3_img">
					</div>

					<div class="wrap-text-blo1 p-t-35">
						<a href="#"><h4 class="txt5 color0-hov trans-0-4 m-b-13" id="ci_3_title">
							Variedades em Bebidas.
						</h4></a>

						<p class="m-b-20" id="ci_3_description">
							Cervejas, Sucos, Refrigerantes, Destilados, energéticos e muito mais...
						</p>

						<a href="#" class="txt4">
							Ver mais...
							<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>

			<script>
				<% url_base = ApplicationHelper.url_base('content_intros') %>
				jQuery.ajax({
					async: true,
					url: '<%= url_base %>',
					success: function (result) {
						if (result.isOk == false) {
							alert(result.message);
						}else{
							var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
							if (result.data.length > 0){
								var img_url_1 = cl.url(result.data[0].img);
								var img_url_2 = cl.url(result.data[1].img);
								var img_url_3 = cl.url(result.data[2].img);
								$("#ci_1_img").attr("src", img_url_1);
								$("#ci_2_img").attr("src", img_url_2);
								$("#ci_3_img").attr("src", img_url_3);
								$("#ci_1_title").text(result.data[0].title);
								$("#ci_2_title").text(result.data[1].title);
								$("#ci_3_title").text(result.data[2].title);
								$("#ci_1_description").text(result.data[0].description);
								$("#ci_2_description").text(result.data[1].description);
								$("#ci_3_description").text(result.data[2].description);
							}
						}
					}
				});
			</script>
		</div>
	</div>
</div>
