<div class="container">
	<div class="title-section-ourmenu t-center m-b-22">
		<span class="tit2 t-center" id="om_title">
			Veja
		</span>
		<h3 class="tit5 t-center m-t-2" id="om_subtitle">
			Nosso Cardapio
		</h3>
	</div>

	<script>
		<% url_base = ApplicationHelper.url_base('ourmenus') %>
		jQuery.ajax({
			async: true,
			url: '<%= url_base %>',
			success: function (result) {
				if (result.isOk == false) {
					alert(result.message);
				}else{
					$("#om_title").text(result.data[0].title);
					$("#om_subtitle").text(result.data[0].subtitle);
				}
			}
		});
	</script>

	<div class="row">
		<div class="col-md-8">
			<div class="row" id="om_linha_1"></div>
		</div>
		<div class="col-md-4">
			<div class="row" id="om_linha_2"></div>
		</div>
	</div>

	<script>
		<% url_base = ApplicationHelper.url_base('ourmenu_items') %>
		jQuery.ajax({
			url: '<%= url_base %>',
			async: true,
			success: function (result) {
				if (result.isOk == false) {
					alert(result.message);
				}else{
					var markup_gv = `<%= render partial: "home/template/ourmenuitem_gv" %>`;
					var markup_gh = `<%= render partial: "home/template/ourmenuitem_gh" %>`;
					$.template( "template_gv", markup_gv);
					$.template( "template_gh", markup_gh);
					var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
					for (var i = 0; i < result.data.length; i++){
        				if (result.data[i].style == "vertical grande" && result.data[i].column_number == "coluna 1"){
        					var img = cl.url(result.data[i].img,{width: 720,height:959, quality: "auto",fetchFormat: "auto", crop: "scale"});
        				    result.data[i].img = img;
        					$.tmpl("template_gv",result.data[i]).appendTo('#om_linha_1');
        				}
        				if (result.data[i].style == "vertical grande" && result.data[i].column_number == "coluna 2"){
        					var img = cl.url(result.data[i].img,{width: 720,height:959, quality: "auto",fetchFormat: "auto", crop: "scale"});
        				    result.data[i].img = img;
        					$.tmpl("template_gv",result.data[i]).appendTo('#om_linha_2');
        				}
        				if (result.data[i].style == "horizontal grande" && result.data[i].column_number == "coluna 1"){
        					var img = cl.url(result.data[i].img,{width: 720,height:959, quality: "auto",fetchFormat: "auto", crop: "scale"});
        				    result.data[i].img = img;
		        			$.tmpl("template_gh",result.data[i]).appendTo('#om_linha_1');
        				}
        				if (result.data[i].style == "horizontal grande" && result.data[i].column_number == "coluna 2"){
        					var img = cl.url(result.data[i].img,{width: 720,height:959, quality: "auto",fetchFormat: "auto", crop: "scale"});
        				    result.data[i].img = img;
		        			$.tmpl("template_gh",result.data[i]).appendTo('#om_linha_2');
        				}
        				if (result.data[i].style == "horizontal pequeno" && result.data[i].column_number == "coluna 1"){
        					var img = cl.url(result.data[i].img,{width: 300,height:185, quality: "auto",fetchFormat: "auto", crop: "scale"});
        				    result.data[i].img = img;
		        			$.tmpl("template_gh",result.data[i]).appendTo('#om_linha_1');
        				}
        				if (result.data[i].style == "horizontal pequeno" && result.data[i].column_number == "coluna 2"){
        					var img = cl.url(result.data[i].img,{width: 300,height:185, quality: "auto",fetchFormat: "auto", crop: "scale"});
        				    result.data[i].img = img;
		        			$.tmpl("template_gh",result.data[i]).appendTo('#om_linha_2');
        				}
  					}
 				}
			}
		});
	</script>

</div>
