<% url_base = ApplicationHelper.url_base('review_items') %>
<div class="title-review t-center m-b-2">
	<span class="tit2 p-l-15 p-r-15">
		Depoimento
	</span>

	<h3 class="tit8 t-center p-l-20 p-r-15 p-t-3">
		Recomendo
	</h3>
</div>

<div class="wrap-slick3">
	<div class="slick3">
	</div>
	<div class="wrap-slick3-dots m-t-30"></div>
</div>

<script type="text/javascript">
jQuery.ajax({
  async: false,
  url: '<%= url_base %>',
  success: function (result) {
    if (result.isOk == false) {
      alert(result.message);
    }else{
      var markup = `<%= render partial:"home/template/review" %>`;
      $.template( "template", markup);
      var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
      for (var i = 0; i < result.data.length; i++){
        var img = cl.url(result.data[i].img);
        result.data[i].img = img;
        result.data[i]["cont"] = i+1;
      }
      $.tmpl("template",result.data).appendTo('.slick3');
    }
  }
});
</script>