<% url_base = ApplicationHelper.url_base('section_slides') %>
<div class="wrap-slick1">
  <div class="slick1">
  </div>
  <div class="wrap-slick1-dots"></div>
</div>

<script type="text/javascript">
jQuery.ajax({
  async: false,
  url: '<%= url_base %>',
  success: function (result) {
    if (result["status"] == 'SUCCESS') {
      var markup = `<%= render partial:"home/template/slide" %>`;
      $.template( "template", markup);
      var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
      for (var i = 0; i < result.data.length; i++){
        var img = cl.url(result.data[i].img,{width: 900, quality: "auto",fetchFormat: "auto", crop: "fill"});
        result.data[i].img = img;
        result.data[i]["cont"] = i+1;
      }
      $.tmpl("template",result.data).appendTo('.slick1');
    }
  }
});
</script>