<div class="container">
	<div class="row">
		<div class="col-md-6 p-t-45 p-b-30">
			<div class="wrap-text-welcome t-center">
				<span class="tit2 t-center" id="welcome_title">
					Bar e Restaurante
				</span>

				<h3 class="tit3 t-center m-b-35 m-t-5" id="welcome_subtitle">
					Bem-Vindos!
				</h3>
				<p class="t-center m-b-22 size3 m-l-r-auto" id="welcome_description">
					“Talento, boa vontade para aprender, generosidade, carinho para com as pessoas e, uma enorme disposição para o trabalho de todo dia é o que nos qualifica como referência em nossa área. Sentimo-nos felizes e orgulhosos disso.”
				</p>
				<a href="/sobre/index" class="txt4">
					Nossa História
					<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
				</a>
			</div>
		</div>

		<div class="col-md-6 p-b-30">
			<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
				<img src="images/our-story-01.jpg" alt="IMG-OUR" id="welcome_img">
			</div>
		</div>
		<script>
			<% url_base = ApplicationHelper.url_base('welcome_texts') %>
			jQuery.ajax({
                async: true,
				url: '<%= url_base %>',
				success: function (result) {
					if (result["status"] == 'SUCCESS') {
						var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"});
						var welcome_img = cl.url(result.data.img,{width: 390,height:390, quality: "auto",fetchFormat: "auto", crop: "fill"});
						$("#welcome_img").attr("src",welcome_img);
						$("#welcome_title").text(result.data.title);
						$("#welcome_subtitle").text(result.data.subtitle);
						$("#welcome_description").text(result.data.description);
					}
				},
			});
		</script>
	</div>
</div>
