<!-- Slide1 -->
<section class="section-slide">
	<%= render partial: "home/slide" %>
</section>

<!-- Welcome -->
<section class="section-welcome bg1-pattern p-t-120 p-b-105">
	<%= render partial: "home/welcome" %>
</section>

<!-- Intro -->
<section class="section-intro">
	<%= render partial: "home/intro" %>
</section>

<!-- Our menu -->
<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
	<%= render partial: "home/ourmenu" %>
</section>

<!-- Event -->
<section class="section-event">
	<%= render partial:"home/event" %>
</section>

<!-- Booking -->
<section class="section-booking bg1-pattern p-t-100 p-b-110">
	<%= render partial:"home/booking" %>
</section>

<!-- Review -->
<section class="section-review p-t-115">
	<%= render partial: "home/review" %>
</section>

<!-- Video -->
<section class="section-video parallax100" style="background-image: url(images/bg-cover-video-02.jpg);">
	<%#= render partial: "home/video" %>
</section>

<!-- Blog -->
<section class="section-blog bg-white p-t-115 p-b-123">
	<%#= render partial:"home/blog" %>
</section>

<!-- Sign up -->
<div class="section-signup bg1-pattern p-t-85 p-b-85">
	<%#= render partial:"home/sign_up" %>
</div>
