<div class="container t-center">
	<span class="tit2 t-center">
		Nossa Equipe
	</span>

	<!-- <h3 class="tit5 t-center m-b-50 m-t-5">
		Chef
	</h3> -->

	<div class="row">
		<div class="col-md-4 col-lg-4 m-l-r-auto p-b-30">
			<!-- -Block5 -->
			<div class="blo5 pos-relative p-t-60">
				<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
					<a href="#"><img src="/images/proprietario.jpg" alt=""></a>
				</div>

				<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
					<a href="#" class="txt34 dis-block p-b-6">
						Dionata Brasil Silva
					</a>

					<span class="dis-block t-center txt35 p-b-25">
						Proprietario
					</span>

					<p class="t-center">
						
					</p>
				</div>
			</div>
		</div>

		<!-- <div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
			
			<div class="blo5 pos-relative p-t-60">
				<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
					<a href="#"><img src="/images/avatar-03.jpg" alt="IGM-AVATAR"></a>
				</div>

				<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
					<a href="#" class="txt34 dis-block p-b-6">
						Joyce Bowman
					</a>

					<span class="dis-block t-center txt35 p-b-25">
						Chef
					</span>

					<p class="t-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies felis a sem tempus tempus.
					</p>
				</div>
			</div>
		</div> -->
<!-- 
		<div class="col-md-4 col-lg-4 m-l-r-auto p-b-30">
			
			<div class="blo5 pos-relative p-t-60">
				<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
					<a href="#"><img src="/images/avatar-05.jpg" alt="IGM-AVATAR"></a>
				</div>

				<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
					<a href="#" class="txt34 dis-block p-b-6">
						Peter Hart
					</a>

					<span class="dis-block t-center txt35 p-b-25">
						Chef
					</span>

					<p class="t-center">
						Phasellus aliquam libero a nisi varius, vitae placerat sem aliquet. Ut at velit nec ipsum iaculis posuere quis in sapien
					</p>
				</div>
			</div>
		</div> -->
	</div>
</div>
