<div class="container">
	<!-- Delicious -->
	<div class="row">
		<div class="col-md-6 p-t-45 p-b-30">
			<div class="wrap-text-delicious t-center">
				<span class="tit2 t-center">
					Bar e Restaurante
				</span>

				<h3 class="tit3 t-center m-b-35 m-t-5">
					Sejam Bem-Vindos
				</h3>

				<p class="t-center m-b-22 size3 m-l-r-auto">
					“Talento, boa vontade para aprender, generosidade, carinho para com as pessoas e, uma enorme disposição para o trabalho de todo dia é o que nos qualifica como referência em nossa área. Sentimo-nos felizes e orgulhosos disso.”
				</p>
			</div>
		</div>

		<div class="col-md-6 p-b-30">
			<div class="wrap-pic-delicious size2 bo-rad-10 hov-img-zoom m-l-r-auto">
				<img src="/images/our-story-01.jpg" alt="IMG-OUR">
			</div>
		</div>
	</div>


	<!-- Romantic -->
	<div class="row p-t-170">
		<div class="col-md-6 p-b-30">
			<div class="wrap-pic-romantic size2 bo-rad-10 hov-img-zoom m-l-r-auto">
				<img src="/images/our-story-02.jpg" alt="IMG-OUR">
			</div>
		</div>

		<div class="col-md-6 p-t-45 p-b-30">
			<div class="wrap-text-romantic t-center">
				<span class="tit2 t-center">
					Buffalo's
				</span>

				<h3 class="tit3 t-center m-b-35 m-t-5">
					Grill
				</h3>

				<p class="t-center m-b-22 size3 m-l-r-auto">
					Com nova direção. Será Inaugurado dia 09 de Fevereiro de 2019. Possui um menu variado em comida e bebidas, primando sempre pelos melhores ingredientes em inovadoras combinações de sabores, alia sabores da gastronomia em um ambiente descontraído e aconchegante.
				</p>
			</div>
		</div>
	</div>
</div>
