<span class="tit2 t-center">
	Bar e Restaurante
</span>

<h3 class="tit3 t-center m-b-35 m-t-5">
	Nossa História
</h3>

<p class="t-center size32 m-l-r-auto">
	Requinte e elegância em um ambiente acolhedor e descontraído, firmou-se como um dos melhores Bar e Restaurante da cidade. Fica bem localizado, próximo a Igreja Assembleia de Deus Ministério Madureira.

	A Buffalo's Grill é aconchegante com uma excelente área livre ideal para drinks, conversar, almoçar, jantar, ou até mesmo para escutar uma boa música.

	O atendimento, cortês e atencioso, combina um olhar atento com discrição deixando nossos clientes bem atendidos e sentindo-se em casa. A Buffalo's Grill é frequentado por um público diversificado e interessante. A casa é uma das prediletas da galera.
</p>
