<!-- <div class="content-video t-center p-t-225 p-b-250">
	<span class="tit2 p-l-15 p-r-15">
		Veja
	</span>

	<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
		Nosso Vídeo
	</h3>

	<div class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33" data-toggle="modal" data-target="#modal-video-01">
		<div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
			<i class="fa fa-play fs-18 m-l-2" aria-hidden="true"></i>
		</div>
	</div>
</div>
 -->