<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-03.jpg);">
	<h2 class="tit6 t-center">
		SOBRE-NÓS
	</h2>
</section>

<!-- Our Story -->
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
	<%= render partial:"sobre/story" %>
</section>

<!-- Video -->
<section class="section-video parallax100" style="background-image: url(/images/header-menu-01.jpg);">
	<%= render partial:"sobre/video" %>
</section>

<!-- Delicious & Romantic-->
<section class="bg1-pattern p-t-120 p-b-105">
	<%# render partial:"sobre/romantic" %>
</section>

<!-- Banner -->
<!-- <div class="parallax0 parallax100" style="background-image: url(/images/bg-cover-video-02.jpg);">
	<div class="overlay0-parallax t-center size33"></div>
</div> -->

<!-- Chef -->
<section class="section-chef bgwhite p-t-115 p-b-95">
	<%= render partial:"sobre/chef" %>
</section>

<!-- Sign up -->
<!-- <div class="section-signup bg1-pattern p-t-85 p-b-85">
	<form class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
		<span class="txt5 m-10">
			Specials Sign up
		</span>

		<div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">
			<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email-address" placeholder="Email Adrress">
			<i class="fa fa-envelope ab-r-m m-r-18" aria-hidden="true"></i>
		</div>

		<-- Button3 -->
		<!-- <button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
			Sign-up
		</button>
	</form>
</div> -->

