<div class="blo3 flex-w flex-col-l-sm m-b-30">
	<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
		<a href="#"><img src="\${img}\" alt="IMG-MENU"></a>
	</div>
	<div class="text-blo3 size21 flex-col-l-m">
		<a href="#" class="txt21 m-b-3">
			\${title}\
		</a>

		<span class="txt23">
			\${description}\
		</span>

		<span class="txt22 m-t-20">
			\${price}\
		</span>
	</div>
</div>
