<div class="flex-w flex-b m-b-3">
	<a href="#" class="name-item-mainmenu txt21">
		\${title}\
	</a>
	<div class="line-item-mainmenu bg3-pattern"></div>
	<div class="price-item-mainmenu txt22">
		R$\${price}\
	</div>
</div>
<span class="info-item-mainmenu txt23">
	\${description}\
</span>
