<div class="header-lunch parallax0 parallax100" style="background-image: url(/images/bg-intro-01_1.jpg);">
	<div class="bg1-overlay t-center p-t-170 p-b-165">
		<h2 class="tit4 t-center">
			\${title}\
		</h2>
	</div>
</div>
<div class="container">
	<div class="row p-t-108 p-b-70">
		<div class="col-md-8 col-lg-6 m-l-r-auto">
			<!-- bloco esquerda -->
			{{tmpl(produtos_esquerda) "template2"}}
		</div>

		<div class="col-md-8 col-lg-6 m-l-r-auto">
			<!-- bloco direita -->
			{{tmpl(produtos_direita) "template2"}}
		</div>
	</div>
</div>
