<div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
	<div class="wrap-item-mainmenu p-b-22">
		<h3 class="tit-mainmenu tit10 p-b-25">
			\${title}\
		</h3>
		<!-- Item mainmenu -->
		<div class="item-mainmenu m-b-36">
			{{tmpl(produtos) "template2"}}
		</div>
	</div>
</div>

