<%
url_base = ApplicationHelper.url_base('galleries')
id = params.permit("id")["id"]
if not id.nil?
	if ["todas","espaco","delicias","eventos"].include?(id)
		id = 1 if id == "todas"
		id = 2 if id == "espaco"
		id = 3 if id == "delicias"
		id = 4 if id == "eventos"
		url_base = ApplicationHelper.url_base('galleries/listar/'+id.to_s)
	end
end
begin
  resp = RestClient.get(url_base)
rescue RestClient::Unauthorized, RestClient::Forbidden => err
  puts 'Access denied'
  return err.response
rescue RestClient::ImATeapot => err
  puts 'The server is a teapot!'
  return err.response
else
  obj = JSON.parse(resp.body)
end
%>
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-02.jpg);">
	<h2 class="tit6 t-center">
		Galeria
	</h2>
</section>
<div class="section-gallery p-t-118 p-b-100">
	<div class="wrap-label-gallery filter-tope-group size27 flex-w flex-sb-m m-l-r-auto flex-col-c-sm p-l-15 p-r-15 m-b-60">
		<button class="label-gallery txt26 trans-0-4 <%= 'is-actived' if id == 1  %>" data-filter="*"
		onclick="window.location.href = '/galeria/index/todas'">
			Todas imagens
		</button>
		<button class="label-gallery txt26 trans-0-4 <%= 'is-actived' if id == 2 %>" data-filter=".interior"
		onclick="window.location.href = '/galeria/index/espaco'">
			Nosso Espaço
		</button>
		<button class="label-gallery txt26 trans-0-4 <%= 'is-actived' if id == 3 %>" data-filter=".food"
		onclick="window.location.href = '/galeria/index/delicias'">
			Delícias
		</button>
		<button class="label-gallery txt26 trans-0-4 <%= 'is-actived' if id == 4 %>" data-filter=".events"
		onclick="window.location.href = '/galeria/index/eventos'">
			Eventos
		</button>
	</div>
	<div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25">
		<% obj["data"].each do |o| %>
		<% o["img"].each do |img| %>
			<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events">
				<%= cl_image_tag(img, :width => :auto,:height => 400, :dpr => :auto,:responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto", crop: "scale") %>
				<div class="overlay-item-gallery trans-0-4 flex-c-m"><a class="btn-show-gallery flex-c-m fa 	fa-search" href="<%= cl_image_path(img, :width => :auto, :dpr => :auto,:responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto", crop: "scale") %>" data-lightbox="gallery"></a>
				</div>
			</div>
		<% end %>
		<% end %>
	</div>
</div>



