<div class="container p-t-40 p-b-70">
  <div class="row">
    <div class="col-sm-6 col-md-4 p-t-50">
      <!-- - -->
      <h4 class="txt13 m-b-33">
        Endereço
      </h4>

      <ul class="m-b-70">
        <li class="txt14 m-b-14">
          <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
          Rua: Vicente José de Oliveira, nº: 1040, Centro, Campinápolis-MT.
        </li>

        <li class="txt14 m-b-14">
          <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
          (66) 3437-1912, 98144-0890, 98116-8903
        </li>

        <li class="txt14 m-b-14">
          <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
          buffalosgrillcampinapolis@gmail.com
        </li>
      </ul>

      <!-- - -->
      <h4 class="txt13 m-b-32">
        Buffalo's Grill <br> Bar e Restaurante
      </h4>

      <ul>
        <li class="txt14">
        </li>
        <li class="txt14">
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-4 p-t-50">
      <!-- - -->
      <h4 class="txt13 m-b-33">
        Horário de Funcionamento
      </h4>

      <div class="m-b-25">
        <span class="fs-13 color2 m-r-5">
         <!--  <i class="fa fa-twitter" aria-hidden="true"></i> -->
       </span>
       <a href="#" class="txt15">
        Terça a Domingo.
      </a>

      <p class="txt14 m-b-18">
        Das 10:00 as 14:00 h.
      </p>
       e das 18:00 as 00:00 h.
            <!-- <span class="txt16">
              21 Dec 2017
            </span> -->
          </div>

          <div>
            <span class="fs-13 color2 m-r-5">
             <!--  <i class="fa fa-twitter" aria-hidden="true"></i> -->
           </span>
           <a href="#" class="txt15">
            Segunda-feira
          </a>

          <p class="txt14 m-b-18">
            Apenas das 10:00 até as 14:00 h.
              <!-- <a href="#" class="txt15">
                https://buff.ly/2zaSfAQ
              </a> -->
            </p>
            <!-- <span class="txt16">
              21 Dec 2017
            </span> -->
          </div>
        </div>

        <div class="col-sm-6 col-md-4 p-t-50">
          <!-- - -->
          <h4 class="txt13 m-b-38">
            Galeria
          </h4>

          <!-- Gallery footer -->
          <div class="wrap-gallery-footer flex-w">
            <%
              url_base = ApplicationHelper.url_base('galleries')
              begin
                resp = RestClient.get(url_base)
                rescue RestClient::Unauthorized, RestClient::Forbidden => err
                  puts 'Access denied'
                  return err.response
                rescue RestClient::ImATeapot => err
                  puts 'The server is a teapot!'
                  return err.response
                else
                  a = []
                  obj = JSON.parse(resp.body)
                  obj["data"].each do |o|
                    o["img"].each do |img|
                      a << cl_image_path(img, :width => 100,:height => 100,:dpr => :auto,:responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto", crop: "scale")
                    end
                  end
              end
            %>
            <% a.take(8).each do |img| %>
              <a class="item-gallery-footer wrap-pic-w" href="" data-lightbox="gallery-footer">
                <img src="<%= img %>" alt="GALLERY">
              </a>
            <% end %>
          </div>      
        </div>
      </div>
    </div>

    <div class="end-footer bg2">
      <div class="container">
        <div class="flex-sb-m flex-w p-t-22 p-b-22">
          <div class="p-t-5 p-b-5">
            <!-- <a href="#" class="fs-15 c-white"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
            <a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
            <a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a> -->
          </div>
          <div class="txt17 p-r-20 p-t-5 p-b-5">
            &copy; 2019 por Campinapolis.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
  </span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>

<!-- Modal Video 01-->
<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" data-dismiss="modal">
    <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
    <div class="wrap-video-mo-01">
      <div class="w-full wrap-pic-w op-0-0"><img src="/images/icons/video-16-9.jpg" alt="IMG"></div>
      <div class="video-mo-01">
        <iframe src="https://www.youtube.com/embed/5k1hSu2gdKE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

