<!-- Button Hide sidebar -->
<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>
<ul class="menu-sidebar p-t-95 p-b-70">
  <li class="t-center m-b-13">
    <a href="/" class="txt19">Inicio</a>
  </li>

  <li class="t-center m-b-13">
    <a href="/menu/index" class="txt19">Cardápio</a>
  </li>

  <li class="t-center m-b-13">
    <a href="/galeria/index" class="txt19">Galeria</a>
  </li>

  <li class="t-center m-b-13">
    <a href="/sobre/index" class="txt19">Sobre Nós</a>
  </li>

  <li class="t-center m-b-13">
    <a href="/reserva/index" class="txt19">Reservas de Mesa</a>
  </li>

  <li class="t-center m-b-33">
    <a href="/contato/index" class="txt19">Contato</a>
  </li>

  <li class="t-center">
    <!-- Button3 -->
    <a href="/reserva/index" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
      Reservas
    </a>
  </li>
</ul>

<div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
  <h4 class="txt20 m-b-33">
    Galeria
  </h4>
  <!-- Gallery -->
  <div class="wrap-gallery-sidebar flex-w">
    <%
    url_base = ApplicationHelper.url_base('galleries')
    begin
      resp = RestClient.get(url_base)
    rescue RestClient::Unauthorized, RestClient::Forbidden => err
      puts 'Access denied'
      return err.response
    rescue RestClient::ImATeapot => err
      puts 'The server is a teapot!'
      return err.response
    else
      a = []
      obj = JSON.parse(resp.body)
      obj["data"].each do |o|
        o["img"].each do |img|
          a << cl_image_path(img, :width => 100,:height => 100,:dpr => :auto,:responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto", crop: "scale")
        end
      end
    end
    %>
    <% a.take(3).each do |img| %>
    <a class="item-gallery-sidebar wrap-pic-w" href="" data-lightbox="gallery-footer">
      <img src="<%= img %>" alt="GALLERY">
    </a>
    <% end %>
  </div>
</div>