<!DOCTYPE html>
<html lang="pt-br">
<head>
 <title>Buffalo's Grill</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
 <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="/fonts/themify/themify-icons.css">
 <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
 <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
 <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
 <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
 <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
 <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
 <link rel="stylesheet" type="text/css" href="/vendor/lightbox2/css/lightbox.min.css">
 <link rel="stylesheet" type="text/css" href="/css/util.css">
 <link rel="stylesheet" type="text/css" href="/css/main.css">
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
 <script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
 <script src="/bower_components/cloudinary-jquery/cloudinary-jquery.js" type="text/javascript"></script>
 <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript">
 </script>
 <%#= javascript_include_tag "application" %>
</head>
<body class="animsition">
  <%= render partial: "layouts/nav" %>
  <aside class="sidebar trans-0-4">
    <%= render partial: "layouts/sidebar" %>
  </aside>
  <%= yield %>
  <footer class="bg1">
   <%= render "layouts/footer" %>
 </footer>
	<script type="text/javascript" src="/vendor/animsition/js/animsition.min.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/vendor/select2/select2.min.js"></script>
	<script type="text/javascript" src="/vendor/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="/vendor/daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="/js/slick-custom.js"></script>
	<script type="text/javascript" src="/vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
	<script type="text/javascript" src="/vendor/countdowntime/countdowntime.js"></script>
	<script type="text/javascript" src="/vendor/lightbox2/js/lightbox.min.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript">$.cloudinary.responsive()</script>
</body>
</html>